body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  text-align: center;
}
ol {
  margin: 0;
  padding: 0;
}
li {
  margin: 5px 0;
}
@media print {
  h1,
  button {
    display: none;
  }
  body {
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    padding: 20mm;
  }
  table {
    width: 100%;
  }
}
