#calculator-data-sec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 21cm;
  height: 29.7cm;
  margin: 0;
  padding:0 3mm 0 20mm;
}

#calculator-data-sec table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

#calculator-data-sec table,
#calculator-data-sec th,
#calculator-data-sec td {
  border: 1px solid black;
}

#calculator-data-sec th,
#calculator-data-sec td {
  padding: 10px;
  text-align: center;
}

#calculator-data-sec ol {
  margin: 0;
  padding: 0;
}

#calculator-data-sec li {
  margin: 5px 0;
}
